<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>ユーザー削除の処理が完了しました</h1>
    <p>再度ユーザー登録を行う場合は、以下URLからお手続きください<br/>
      クリプトポータルをご利用いただき、ありがとうございました</p>
        <p><%= @url %></p>
  </body>
</html>