<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>ユーザー登録が完了しました！</h1>
    <p>ユーザー登録ありがとうございます！<br/>
      毎朝７時に、仮想通貨に関するニュースをお届けします<br/>
      メール配信の停止やユーザー登録の削除は下記URLからお手続きください</p>
        <p><%= @url %></p>
  </body>
</html>