<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>おはようございます！本日のニュースをお届けします</h1>
    <h1>Latest Bitcoin News</h1>
    <p>今後ともクリプトポータルをよろしくお願い致します</p>
  </body>
</html>