  おはようございます！本日のニュースをお届けします
  メッセージ配信の停止を希望される方は、以下URLからお手続きください


  今後とも クリプトポータルをよろしくお願いします。
   <%= @url %>

      <% @data.each do |data| %> 
      <h2><%= data['title']%></h2>
      <a href="<%= data['url']%>">Read more</a>
      <hr> 
    <% end %>