<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>おはようございます！本日のニュースをお届けします</h1>
      <% @data.each do |data| %> 
      <h2><%= data['title']%></h2>
      <a href="<%= data['url']%>">Read more</a>
      <hr> 
    <% end %>
    <p>本メールは、下記URL1ページ目のニュースを掲載しています。<br/>
      メッセージ配信の停止を希望される方は、以下URLからお手続きください<br/>
        <p><%= @url %></p>
    <p>今後ともクリプトポータルをよろしくお願い致します</p>
  </body>
</html>